.modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  & .modalOverlay {
    position: absolute;
    inset: 0;
    background-color: hsl(var(--gray-900) / 0.75);
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }

  & .modalContent {
    border-radius: 8px;
    width: 100%;
    padding: 2rem 0;
    background-color: hsl(var(--white));
    color: hsl(var(--gray-700));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
  }
}

.modalEnterDone {
  opacity: 1;

  & .modalOverlay {
    opacity: 1;
  }

  & .modalContent {
    opacity: 1;
    transform: translateY(0);
  }
}

.modalExit {
  opacity: 0;

  & .modalOverlay {
    opacity: 0;
  }

  & .modalContent {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.modalHeader {
  margin-bottom: 2rem;
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalContainer {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
}

.closeBtn {
  display: grid;
  border-radius: 6px;
  width: 2.5rem;
  height: 2.5rem;
  background-color: hsl(var(--white));
  transition: background-color 0.3s ease-in-out;

  & > * {
    place-self: center;
  }

  &:hover {
    background-color: hsl(var(--gray-100));
  }

  &:focus {
    border-color: hsl(var(--indigo-500));
  }
}
