.link {
  color: hsl(var(--white));
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: hsl(var(--gray-300));
  }
}
